.header {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: oldlace;
}

.nav-item {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: darkslategrey;
  font-size: 1.3rem;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: rgba(145, 145, 145, 0.2);
}

.nav-item.active {
  background-color: darkslategrey;
  color: oldlace;
}

.logout-btn {
    height: 100%;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    color: firebrick;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
}
